@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* global styling */
h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0.1rem solid;
  padding: 2rem 5rem;
  cursor: pointer;
  transition: background 0.6s ease-in;
  border-radius: 5px;
  background: none;
  border-radius: 30px;
}

button:hover {
  background: #ffcf00;
}

/* nav section */

.nav-bar {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 2 1 40rem;
  justify-content: space-between;
  align-items: center;
}

#logo {
  flex: 2 1 40rem;
  font-weight: 400;
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h3 {
  padding: 5rem;
}

/* locations section */

.locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/new-york-page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}
@media screen and (max-width: 932px) {
  html {
    font-size: 55%;
  }
  nav {
    text-align: center;
  }

  #logo {
    padding: 1rem;
  }

  .locations-head h3 {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
  }
}
