@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* global styling */
h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: #ffcf00;
  border: 0.1rem solid;
  padding: 2rem 5rem;
  border-radius: 3rem;
  cursor: pointer;
}

/* nav section */

.nav-bar {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 2 1 40rem;
  justify-content: space-between;
  align-items: center;
}

#logo {
  flex: 2 1 40rem;
  font-weight: 400;
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h3 {
  padding: 5rem;
}

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }

  #logo {
    padding: 1rem;
  }
}
